<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Frankie's Projects</title>
</head>
<body>
<div class="container-fluid">
  <div>
    <h1>Frankie Clipsham</h1>
    <p>Projects Portfolio </p>
    <div class="icons">
        <a href="https://github.com/RnJhbmsEquals">
            <i class="fa fa-2x fa-github" style="color: black"></i>
        </a>
        <a href="mailto:fclipsham@gmail.com">
            <i class="fa fa-2x fa-envelope-square" style="color: black"></i>
        </a>
    </div>
  </div>
</div>

<div class="container-fluid c1">
    <div class="row" style="padding-top: 50px">
		<div class="col-md-4 col-sm-4 col-xs-4">
            <div class="card">
                <h6>Django Movie Ranking App</h6>
                <p>Movie ranking app based on Mark Zuckerberg's Face Smash</p>
                <a href="movie_smash.html">Website Link</a>
                <a href="https://github.com/RnJhbmsEquals/Django-Website">GitHub repo</a>
            </div>
        </div>
		<div class="col-md-4 col-sm-4 col-xs-4">
            <div class="card">
                <h6>Vending Machine Java Applet</h6>
                <p>GUI Vending Machine where you can select items, view the stock, view your total and have correct change calculated.</p>
                <a href="https://github.com/RnJhbmsEquals/VendingMachine">GitHub repo</a>
            </div>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-4" >
            <div class="card">
                <h6>Child Minding Website</h6>
                <p>This project was for my A-Level coursework and I designed a website for my client who was a child minder.</p>
                <a href="http://fclipsham.rscomputing.org.uk/">Website Link</a>
            </div>
        </div>
		</div>
    </div>
</div>
</div>
</body>
</html>