<!DOCTYPE html>
<html lang="UTF-8">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Movie Smash</title>
</head>
<body>
<script>
    function movieSelected(id_1, id_2){
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                location.reload()
            }
        };
        xhttp.open("POST", "/edit_rankings/", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send(id_1+","+id_2);
    }
    function enlarge(id) {
        document.getElementById(id).style.width = "61%";
    }
    function shrink(id) {
        document.getElementById(id).style.width = "60%";
    }

</script>


<div class="container-fluid" style="padding-left: 0; padding-right: 0; text-align: center">
	<nav class="navbar navbar-expand-lg fixed-top" style="background-color: darkred; ">
      <div class="container-fluid">
        <a href="" style="color: white; font-size: 250%">MOVIE SMASH</a>
      </div>
    </nav>
</div>
<div class="container-fluid" style="text-align: center">
    <h1>Which movie do you think is better?</h1>
    <h3>Click the image</h3>
</div>
    <div class="container-fluid">
    <div class="row" align="center" style="padding-top: 50px">
		<div class="col-md-4 col-sm-5 col-xs-5">
            <img class="img-responsive image1" src="{{ m1.image_url }}" style="height: auto; width: 60%"
                 id="{{ m1.movieID }}" name="{{ m2.movieID }}" onclick="movieSelected(id, name)" onmouseover="enlarge(id)" onmouseout="shrink(id)">
            <ul style="list-style-type: none;padding-left: 0; padding-top: 15px;font-size: 1.5vw">
                <li>{{ m1.title }}</li>
                <li>{{ m1.release_year }}</li>
            </ul>
        </div>
		<div class="col-md-4 col-sm-2 col-xs-2">
            <h1 style="font-size: 3vw; font-weight: bold; padding-top: 50px; padding-bottom: 50px">OR</h1>
            <br>
            <br>
		</div>
		<div class="col-md-4 col-sm-5 col-xs-5" >
            <img class="img-responsive" src="{{ m2.image_url }}" style="height: auto; width: 60%"
                 id="{{ m2.movieID }}" name="{{ m1.movieID }}" onclick="movieSelected(id, name)" onmouseover="enlarge(id)" onmouseout="shrink(id)">
            <ul style="list-style-type: none; padding-left: 0; padding-top: 15px; font-size: 1.5vw">
                <li>{{ m2.title }}</li>
                <li>{{ m2.release_year }}</li>
            </ul>
		</div>
    </div>
</div>
</body>
</html>