@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css');
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}

p, body {
  font-family: 'Raleway', sans-serif;

}


.icons {
  display: flex;
  justify-content: flex-start;
}

.icons i {
  padding-right: 10px;
}

.card {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons {
 justify-content: left;
}