<!DOCTYPE html>
<html lang="UTF-8">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Movie Rankings</title>
</head>
<body>

<div class="container-fluid" style="padding-left: 0; padding-right: 0; text-align: center">
	<nav class="navbar navbar-expand-lg fixed-top" style="background-color: darkred; ">
      <div class="container-fluid">
        <a href="/" style="color: white; font-size: 250%">MOVIE SMASH</a>
      </div>
    </nav>
</div>

<div class="container-fluid" align="center" style="width: 100%">
    <table id="movie_smash" class="table-responsive table-hover table-striped" width="50%" style=" width: 100%;font-size: 2vw">
        <tr>
          <th style="padding:0 15px 0 15px;">Rank</th>
          <th style="padding:0 15px 0 15px;">Title</th>
          <th style="padding:0 15px 0 15px;">Release</th>
          <th style="padding:0 15px 0 15px;">Elo</th>
        </tr>
        {% for q in qr %}
        <tr>
          <td style="padding:0 15px 0 15px;">{{ forloop.counter }}</td>
          <td style="padding:0 15px 0 15px;">{{ q.title }}</td>
          <td style="padding:0 15px 0 15px;">{{ q.release_year }}</td>
          <td style="padding:0 15px 0 15px;">{{ q.elo }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>